# --- C++ Junk ---
*.exe
*.o
*.obj
*.out
*.pdb
build/
bin/

# --- Database Data---
# This ignores your actual database files so they stay local
tests/
*.db
*.log
*.tmp
*.meta

# --- OS Junk ---
.DS_Store
Thumbs.db